version: "3.9"

services:
  web:
    image: devmahmoudi/sina-ui:latest
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost/ || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 10s